@media (max-width: 1200px) {
    body{
        width: 100%;
    }
    body main{
        width: 96%;
    }

    .card-text{
    padding: 0 6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .card-text .p-card{
        padding-right: 0;
    }

    footer{
        padding:7rem 0 0 0;
        width: 100%;
    }
}

@media (max-width: 780px) {
    body{
        width: 100vw;
        height: auto;

        padding: 15rem 0;
    }

    body main{
        width: 90%;
        height: auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .card-text{
        width: 100%;
        padding: 5rem 4rem 1rem;
        text-align: center;
        order: 1;
    }

    .card-text .h1-card{
        font-size: 3rem;
    }

    .card-text .p-card{
        padding-right: 0;
        font-size: 1.6rem;
    }

    .card-text footer {
        padding: 7rem 0 0 0;
    }

    .card-text footer ul{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-text footer ul li{
        padding-bottom: 3rem;
    }

    .card-img{
        border-radius: 1rem 1rem 0 0;
        width: 100%;
    }

    .card-img::before{
        border-radius: 1rem 1rem 0 0;
    }
}

@media (max-width: 480px) {
    body main {
        height: 90rem;
    }

    .card-text footer ul{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
    }
}